<div class="row">
  <div class="row">
    <div class="col s12 center-align">
      <h3>Cadastro de usuário</h3>
    </div>
  </div>
  <div class="col s6 offset-s3">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" >
      <div class="row">
        <div class="col s12 input-field">
          <input type="text" id="email" name="email" class="validate" formControlName="email" >
          <label for="email">Digite o email</label>
        </div>
      </div>
      <div class="col s12 input-field">
        <input type="password" id="password" class="validate" formControlName="password" >
        <label for="password">Digite sua senha</label>
      </div>
      <div class="row">
        <div class="col s12 right-align">
          <button type="submit" class="btn btn-waves">Cadastrar</button>
        </div>
      </div>
    </form>
  </div>
</div>
